//Custom variables

// Descriptive color variables

// Functional color variables

// Font stacks

// Asset paths
$path-image   :   '../img';
$path-fonts     :  '../fonts';

$blue: #5092b3;
$blue-dark: #5092b3;
$text-dark: #18181a;
$text-gray: #494949;
$bg-gray-1: #ececec;
$bg-gray-2: #f5f2ec;
$icon-gray: #bdbdbc;
